@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5D50C6;
  --pink: #F85E9F;
  --black: #000000
}

body {
  font-family: 'Nunito Sans';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
